<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="Path" value="D:\epub" />
    <add key="MailFrom" value="andrev369@gmail.com" />
    <add key="MailTo" value="andrev369_369@kindle.com" />
</appSettings>
</configuration>